{% block body %}
{% include "header.html.twig" %}



<div class="container bg-light mb-5 rounded p-3">

    <div class="container text-center">
        <h3>Creation d'un nouveau plat :</h3>
        {{ form_start(createProduct)}}

        <div class="form-group mb-2">
            <Label class="mb-2"> Titre du Plat</Label>
            {{ form_widget(createProduct.name)}}
        </div>
        <div class="form-group mb-2">
            <Label class="mb-2"> Prix du Plat</Label>
            {{ form_widget(createProduct.price)}}
        </div>
        <div class="form-group mb-2">
            <Label class="mb-2"> Description du Plat</Label>
            {{ form_widget(createProduct.description)}}
        </div>
        <div class="form-group mb-2">
            <Label class="mb-2"> Image du Plat</Label>
            {{ form_widget(createProduct.imageFile)}}
        </div>
        <div class="form-group mb-2">
            <Label class="mb-2"> Quantité du Plat</Label>
            {{ form_widget(createProduct.quantity)}}
        </div>

        {{ form(createProduct)}}
    </div>

</div>
{% endblock %}

</body>

</html>